parameters:
	ignoreErrors:
		-
			message: '#^Method Drupal\\Core\\Entity\\ContentEntityConfirmFormBase\:\:validateForm\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: repo/core/lib/Drupal/Core/Entity/ContentEntityConfirmFormBase.php

		-
			message: '#^Method Drupal\\Core\\Entity\\ContentEntityForm\:\:validateForm\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: repo/core/lib/Drupal/Core/Entity/ContentEntityForm.php

		-
			message: '#^Method Drupal\\Core\\Entity\\FieldableEntityInterface\:\:get\(\) return type with generic interface Drupal\\Core\\Field\\FieldItemListInterface does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: repo/core/lib/Drupal/Core/Entity/FieldableEntityInterface.php

		-
			message: '#^Method Drupal\\Core\\Entity\\FieldableEntityInterface\:\:getFields\(\) return type with generic interface Drupal\\Core\\Field\\FieldItemListInterface does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: repo/core/lib/Drupal/Core/Entity/FieldableEntityInterface.php

		-
			message: '#^Method Drupal\\Core\\Entity\\FieldableEntityInterface\:\:getTranslatableFields\(\) return type with generic interface Drupal\\Core\\Field\\FieldItemListInterface does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: repo/core/lib/Drupal/Core/Entity/FieldableEntityInterface.php

		-
			message: '#^Method Drupal\\Core\\TypedData\\Plugin\\DataType\\ItemList\:\:getIterator\(\) return type with generic class ArrayIterator does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: repo/core/lib/Drupal/Core/TypedData/Plugin/DataType/ItemList.php

		-
			message: '#^Offset ''system_main'' on array\{''\#type''\: ''table'', ''\#header''\: array\{Drupal\\Core\\StringTranslation\\TranslatableMarkup, Drupal\\Core\\StringTranslation\\TranslatableMarkup, Drupal\\Core\\StringTranslation\\TranslatableMarkup, Drupal\\Core\\StringTranslation\\TranslatableMarkup, Drupal\\Core\\StringTranslation\\TranslatableMarkup\}, ''\#attributes''\: array\{id\: ''blocks''\}, ''\#attached''\?\: array\{drupalSettings\: array\{blockPlacement\: bool\|float\|int\|string\|null\}\}\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: repo/core/modules/block/src/BlockListBuilder.php

		-
			message: '#^Class Drupal\\Core\\Url referenced with incorrect case\: Drupal\\Core\\URL\.$#'
			identifier: class.nameCase
			count: 1
			path: repo/core/modules/ckeditor5/src/SmartDefaultSettings.php

		-
			message: '#^Method Drupal\\contact\\MessageForm\:\:validateForm\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: repo/core/modules/contact/src/MessageForm.php

		-
			message: '#^Class Drupal\\Component\\Utility\\Html referenced with incorrect case\: Drupal\\Component\\Utility\\HTML\.$#'
			identifier: class.nameCase
			count: 1
			path: repo/core/modules/contact/tests/src/Functional/ContactPersonalTest.php

		-
			message: '#^Variable \$height in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/file/src/Plugin/Validation/Constraint/FileImageDimensionsConstraintValidator.php

		-
			message: '#^\#lazy_builder value ''string'' at key ''0'' is invalid\.$#'
			identifier: renderCallback.invalidKeyValue
			count: 1
			path: repo/core/modules/filter/src/FilterProcessResult.php

		-
			message: '#^Class Drupal\\Core\\Url referenced with incorrect case\: Drupal\\Core\\URL\.$#'
			identifier: class.nameCase
			count: 1
			path: repo/core/modules/system/tests/src/Kernel/Common/FormElementsRenderTest.php

		-
			message: '#^Method Drupal\\taxonomy\\Plugin\\views\\argument_default\\Tid\:\:getCacheTags\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: repo/core/modules/taxonomy/src/Plugin/views/argument_default/Tid.php

		-
			message: '#^Method Drupal\\taxonomy\\TermForm\:\:validateForm\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: repo/core/modules/taxonomy/src/TermForm.php

		-
			message: '#^Class Drupal\\Component\\Serialization\\Json referenced with incorrect case\: Drupal\\Component\\Serialization\\JSON\.$#'
			identifier: class.nameCase
			count: 4
			path: repo/core/modules/toolbar/tests/src/FunctionalJavascript/ToolbarStoredStateTest.php

		-
			message: '#^Variable \$untranslatable_configs in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/views/src/FieldViewsDataProvider.php

		-
			message: '#^Class Drupal\\views\\Views referenced with incorrect case\: Drupal\\views\\views\.$#'
			identifier: class.nameCase
			count: 1
			path: repo/core/modules/views/tests/src/Functional/Handler/HandlerTest.php

		-
			message: '#^Cannot unset offset ''\#title'' on array\{''\#theme_wrappers''\: array\{''container''\}, ''\#attributes''\: array\{class\: array\{''scroll''\}, data\-drupal\-views\-scroll\: true\}\}\.$#'
			identifier: unset.offset
			count: 1
			path: repo/core/modules/views_ui/src/Form/Ajax/Display.php

		-
			message: '#^Class Drupal\\Core\\Datetime\\DrupalDateTime referenced with incorrect case\: Drupal\\Core\\Datetime\\DrupalDatetime\.$#'
			identifier: class.nameCase
			count: 1
			path: repo/core/tests/Drupal/KernelTests/Core/Datetime/Element/TimezoneTest.php

		-
			message: '#^Class Drupal\\Tests\\Core\\Database\\Stub\\StubPDO referenced with incorrect case\: Drupal\\Tests\\Core\\Database\\Stub\\StubPdo\.$#'
			identifier: class.nameCase
			count: 1
			path: repo/core/tests/Drupal/Tests/Core/Database/ConnectionTest.php

		-
			message: '#^Interface Drupal\\Core\\PreWarm\\PreWarmableInterface referenced with incorrect case\: Drupal\\Core\\PreWarm\\PrewarmableInterface\.$#'
			identifier: interface.nameCase
			count: 1
			path: repo/core/tests/Drupal/Tests/Core/PreWarm/CachePreWarmerTest.php
